body {
  font-family: 'Josefin Sans', sans-serif;
  background-image: url('https://static.vecteezy.com/system/resources/previews/000/149/238/original/vector-tecnologia-background-template.jpg');
}

#container {
  margin: auto;
}

#title-container {
  margin: 20px auto;
  color: white;
}

#pesquisa-container {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

#input-container {
  display: flex;
  margin: auto;
  width: 60%;
}

#input-busca {
  margin: 20px auto;
  margin-right: 20px;
  width: 60%;
}

#submit {
}

#usuarios-encontrados-container {
  background-color: #adc4f0;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  text-align: center;
  padding: 0;
  border: 1px #6394ec solid;
  width: 40%;
  box-shadow: 7px 7px 5px #6394ec;
}

#sem-resultados {
  margin: 20px auto;
  text-align: center;
  width: 80%;
  color: white;
  padding: 50px;
  border: 1px #6394ec solid;
  width: 40%;
  box-shadow: 7px 7px 5px #d94702;

  background-color: rgba(99, 148, 236, 0.6);
}

.encontrados-titulo {
  background-color: #6394ec;
  padding: 10px;
  color: white;
  width: auto;
  margin: 0;

  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}

#estatisticas {
  background-color: #adc4f0;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  text-align: center;
  padding: 0;
  padding-bottom: 10px;
  width: 40%;
  height: fit-content;
  border: 1px #6394ec solid;
  box-shadow: 7px 7px 5px #6394ec;
}

.foto,
.nome,
.idade {
  width: 30%;
  margin: auto;
}

img {
  border-radius: 50%;
}

.linha-pessoa {
  display: flex;
  flex-direction: row;
  margin: 20px 0 auto;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: ridge #d94702;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}

ul {
  text-align: center;
  list-style: none;
  padding: 10px;
  margin: 0;
}
li {
  margin: 10px auto;
  padding: 10px;
}

h1,
h2,
h3 {
  margin: auto;
  text-align: center;
}

h1 {
  text-shadow: 4px 2px 2px #d94702;
}

input {
  border: none;
  border-bottom: groove #6394ec;
  box-shadow: 4px 3px 3px #d94702;
  text-align: center;
  background-color: rgba(99, 148, 236, 0.9);
  color: white;
}

button {
  margin: 10px auto;
  margin-left: 0;
  border-radius: 50%;
  border-color: #d94702;
  width: 25%;
  height: 2.5em;
  background-color: #d94702;
  box-shadow: 4px 3px 3px #d94702;
  color: white;
}

button:disabled {
  margin: auto;
  margin-left: 4px;
  margin-top: 13px;
  background-color: rgba(99, 148, 236, 0.3);
  box-shadow: none;
}

.item-estatisticas {
  border-bottom: ridge #d94702;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 30%;

  margin-top: 20px;
}
